body{
    background-color: #222222;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;
    color: #EEEEEE;
    white-space: nowrap;
}

button{
    font-family: "Inknut Antiqua", serif;
    font-weight: 600;
    font-style: normal;
    border: 0px;
    width: 40vh;
    border-radius: 24px;
    font-size: 16px;
}

button:hover{
    background-color: #0E7EE6;
    color: #EEEEEE;
}

h1{
    font-size: 28px;
}

a{
    color: #0E7EE6;
}

h2{
    font-size: 24px;
}

p{
    font-size: 16px;
}